# Dependências (Pasta pesada)
node_modules/

# Variáveis de ambiente (Dados sensíveis)
.env
.env.local

# Logs de erro e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de build (se você usar TypeScript ou React)
dist/
build/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db